# Ambientes Virtuais (VENV)
venv/
.venv/
env/

# Variáveis de Ambiente e Credenciais (SENSÍVEL!)
.env

# Dados Locais (Arquivos grandes e processados)
data/

# Cache do Python
__pycache__/
*.pyc
.pytest_cache/

# Configurações de Editores
.vscode/
.idea/

# Sistema Operacional
.DS_Store
Thumbs.db