# Virtual Environments (VENV)
venv/
.venv/
env/

# Environment Variables and Credentials
.env

# Local Data
data/

# Python Cache and Temporary Compilation Files
__pycache__/
*.pyc
.pytest_cache/

# IDE and Editor Configurations
.vscode/
.idea/

# OS-Specific Temporary Files (macOS and Windows)
.DS_Store
Thumbs.db