# Manipulação de Dados e Cálculos
pandas
numpy

# Integração com Azure (Camada Bronze)
azure-storage-blob
azure-identity

# Conexão com API de Feriados (Camada Gold)
requests

# Gerenciamento de Variáveis de Ambiente (.env)
python-dotenv

# Engine para leitura e escrita de arquivos Parquet (Camada Silver)
pyarrow